<app-menu-top menu="components"></app-menu-top>
<app-page>
    <div class="categories" cdkDropListGroup>
        <ng-container *ngFor="let item of items; let i = index">
            <div class="categories-item" cdkDropList  cdkDropListOrientation="horizontal" [cdkDropListData]="{ item: item, index: i }" (cdkDropListDropped)="drop($event)">

                <div class="inner" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    {{item}}
                </div>

            </div>
        </ng-container>
    </div>
</app-page>
