@import 'variables.scss';

.app-form-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background-color: #fff;
    color: var(--color-input-label);
    font-size: $font-size;
    user-select: none;
    margin: 7px 0px;
    width: fit-content;

    .checkbox-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkbox-border {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        margin-right: 12px;
        border: 1px solid var(--color-checkbox-border);
        border-radius: 3px;
        transition: border 0.2s ease-in-out;

        .checkbox-filling {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background: var(--color-blue-400);
            color: #fff;
            > span {
                width: 20px;
                height: 20px;
                line-height: 20px;
                font-size: 20px;
            }
        }
        .checkbox-partial {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background: rgba(var(--color-blue-400--rgb), .2);
            color: var(--color-blue-400);
            > span {
                line-height: 16px;
                font-size: 22px;
                display: block;
                width: 100%;
                text-align: center;
                height: 100%;
            }
        }
    }

    &:hover {
        .checkbox-border {
            border: 1px solid var(--color-blue-400);
        }
    }
    &.disabled {
        color: var(--color-disabled);
        .checkbox-border {
            border: 1px solid var(--color-disabled);
            .checkbox-filling {
                background: var(--color-disabled);
            }
        }
    }
    &.compact {
        margin: 0px;
        .checkbox-border {
            margin-right: 0px;
        }
    }
}
