@import "variables.scss";
.node__label {
    cursor: pointer;
    border: 1px solid var(--color-input-border);
    min-height: 36px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: var(--color-silver-light);
    transition: background-color .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .node__toggle {
        width: 30px;
        height: 36px;
        border-right: 1px solid var(--color-input-border);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        span {
            line-height: 36px;
            color: var(--color-button-default);
        }
    }

    .node__name {
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .node__action {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: var(--color-silver-100);
    }

}
.node__children {
    margin-left: 30px;
}

.tree-node-wrapper {
    &.disabled {
        opacity: .5;
        cursor: default;

        &:hover {
            cursor: default;
            background-color: var(--color-silver-100);
        }
    }
}

.node {
    width: 100%;
    .node__children {
        &:first-child {
            margin-left: 0px;
        }
    }
}
