@import "variables.scss";

.notifications {
    position: fixed;
    z-index: 9999;
    min-width: 400px;
    max-width: 400px;

    // TOP DIRECTIONS

    &.top-left {
        top: 0;
        left: 0;
    }

    &.top-right {
        top: 0;
        right: 0;
    }

    &.top-center {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    // BOTTOM DIRECTIONS

    &.bottom-left {
        bottom: 0;
        left: 0;
    }

    &.bottom-center {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
    }
  
    .notification {
        margin: 5px;
        border-radius: 5px;
        color: var(--color-white);
        overflow: hidden;

        button {
            background: transparent;
            border: none;
            color: var(--color-white);
            cursor: pointer;
            margin: 10px;
            padding: 0px;
            width: 20px;
            height: 20px;
            span {
                font-size: $font-size + 7px;
                line-height: 20px;
                width: 20px;
                height: 20px;
            }
        }
  
        .message {
            padding: 10px;
            max-height: 200px;
            overflow-y: auto;
        }
  
        &.info {
            background-color: rgba(var(--color-dark-800--rgb), 0.8);
            box-shadow: rgba(var(--color-dark-800--rgb), 0.1) 0px 4px 16px, 
                        rgba(var(--color-dark-800--rgb), 0.1) 0px 8px 24px, 
                        rgba(var(--color-dark-800--rgb), 0.1) 0px 16px 56px;
        }
  
        &.success {
            background-color: rgba(var(--color-success-200--rgb), 0.8);
            box-shadow: rgba(var(--color-success-200--rgb), 0.1) 0px 4px 16px, 
                        rgba(var(--color-success-200--rgb), 0.1) 0px 8px 24px, 
                        rgba(var(--color-success-200--rgb), 0.1) 0px 16px 56px;
        }
  
        &.warning {
            background-color: rgba(var(--color-warning--rgb), 0.8);
            box-shadow: rgba(var(--color-warning--rgb), 0.1) 0px 4px 16px, 
                        rgba(var(--color-warning--rgb), 0.1) 0px 8px 24px, 
                        rgba(var(--color-warning--rgb), 0.1) 0px 16px 56px;
        }
  
        &.error {
            background-color: rgba(var(--color-error--rgb), 0.8);
            box-shadow: rgba(var(--color-error--rgb), 0.1) 0px 4px 16px, 
                        rgba(var(--color-error--rgb), 0.1) 0px 8px 24px, 
                        rgba(var(--color-error--rgb), 0.1) 0px 16px 56px;
        }
    }
  }