/* DATA TABLE */
.app-table-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 25px;
    overflow-x: auto;

}

.app-data-table {
    min-width: 100%;
    width: fit-content;
    max-height: 100%;
    background-color: var(--color-white);
    border-radius: 3px;
    border-top: 1px solid var(--color-silver-300);
    border-bottom: 1px solid var(--color-silver-300);

    @include columns;

    .col-checkbox {
        display: flex;
        align-items: center;
        flex: none;
        app-form-checkbox {
            display: block;
            margin: 0px auto;
        }
    }

    .col {
        padding: 5px;
        color: var(--color-dark-500);
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        // span {
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     line-height: 24px;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     white-space: nowrap;
        // }
        a {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        &.col-align-center {
            text-align: center;
        }
        &.col-align-left {
            text-align: left;
        }
        &.col-align-right {
            text-align: right;
        }
    }

    .col-action {
        .col-action__holder {
            padding: 5px 10px 5px 5px;
            width: 100%;
            min-width: max-content;
            display: none;
            .btn-icon {
                margin-left: 5px;
                background-color: transparent;
                width: 24px;
                height: 24px;
                line-height: 22px;
                span {
                    font-size: 20px;
                    line-height: 22px;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .app-data-table__header {
        .col-action__holder {
            text-align: right;
        }
    }

    .app-data-table__row {
        height: 36px;
        border-bottom: 1px solid var(--color-silver-300);
        &.app-table-image-row {
            height: 72px;
        }
        &:hover {
            .col-action {
                &__holder {
                    display: block;
                }
            }
        }
    }

    &__header {
        .app-data-table__row {
            border-width: 2px;
            .col {
                font-weight: 500;
                &.sortable {
                    cursor: pointer;
                    span {
                        width: auto;
                        &.sort-icons {
                            width: 20px;
                            height: 24px;
                            font-size: $font-size + 3px;
                            text-align: center;
                            line-height: 26px;
                            font-weight: bold;
                            color: var(--color-silver-400);
                            transition: color 0.25s ease-in-out;
                            &.marked {
                                color: var(--color-dark-500);
                            }
                        }
                    }
                    &:hover {
                        span {
                            &.sort-icons {
                                color: var(--color-silver-800);
                            }
                        }
                    }
                }
                &.col-align-center {
                    place-content: center;
                }
                &.col-align-left {
                    place-content: start;
                }
                &.col-align-right {
                    place-content: end;
                }
            }
            .col-action {
                &__holder {
                    display: block;
                }
            }
        }
    }
    &__body {
        overflow-y: auto;
        overflow-x: hidden;
        .app-data-table__row {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            transition: all 0.1s ease-in-out;
            &.clickable {
                cursor: pointer;
            }
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background-color: var(--color-silver-light);
            }
            &.empty-table-row {
                border-bottom: 1px solid var(--color-silver-300);
                height: 60px;
                color: var(--color-silver-500);
                font-weight: 500;
                &:hover {
                    background-color: transparent;
                }
            }
            &.marked {
                background-color: rgba(var(--color-blue-400--rgb), .3);
                &:hover {
                    background-color: rgba(var(--color-blue-400--rgb), .4);
                }
            }

            &.warning {
                background-color: rgba(var(--color-warning--rgb), .1);
                &:hover {
                    background-color: rgba(var(--color-warning--rgb), .2);
                }
                .col-action {
                    .col-action__holder {
                        .btn-icon-bordered {
                            background-color: var(--color-white);
                        }
                    }
                }
            }

            &.danger {
                background-color: rgba(var(--color-error-500--rgb), .2);
                &:hover {
                    background-color: rgba(var(--color-error-500--rgb), .3);
                }
                .col-action {
                    .col-action__holder {
                        .btn-icon-bordered {
                            background-color: var(--color-white);
                        }
                    }
                }
            }

            &.loading {
                .col-action {
                    &__holder {
                        display: block !important;
                    }
                }
            }
        }
        .selected-row {
            background-color: rgba(var(--color-blue-400--rgb), .1);
            border: 1px solid var(--color-blue-500);
            border-bottom: 1px solid transparent;
            &:hover {
                background-color: rgba(var(--color-blue-400--rgb), .2);
            }
        }
        .selected-row + .selected-row {
            border-top: none;
        }
        .selected-row + :not(.selected-row) {
            border-top: 1px solid var(--color-blue-500);
        }

        .selected-row:last-child {
            border-bottom: 1px solid var(--color-blue-500);
        }
    }
    &__pagination {
        height: 36px;
        min-height: 36px;
        border-top: 1px solid var(--color-silver-300);
        padding: 4px 10px 4px 5px;
        .pagination-holder {
            .btn {
                width: 28px;
                height: 28px;
                margin-left: 0px;
                span {
                    line-height: 26px;
                }
            }
            .btn + .btn {
                margin-left: 5px;
            }
            .ng-select {
                height: 28px;
                margin-right: 5px;
                min-width: 52px;
                .ng-select-container {
                    height: 28px;
                    min-height: 28px;
                    max-height: 28px;
                }
            }
            .label {
                margin: 0px 5px;
                color: var(--color-dark-200);
                font-size: $font-size - 1px;
            }
        }
    }
}

.apr-data-table--site-translate-list-table {
    max-width: -webkit-fill-available;
    .app-data-table__body {
        .app-data-table__row {
            height: auto;
            min-height: 36px;
            .translate-key-field {
                white-space: normal;
                line-height: 16px;
                min-height: 25px;
            }
            .col-key {
                border-right: 1px solid var(--color-silver-300);
                padding-right: 10px;
                padding-left: 10px;
            }
            .col-value {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
}