/* BUTTONS */

.btn {
    font-size: $font-size + 1px;
    font-weight: 600;
    color: var(--color-button-default);
    border-radius: 3px;
    background-color: transparent;
    border: none;
    outline: none;
    line-height: 34px;
    display: block;
    padding: 0px 25px;
    height: 36px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: $font;
    white-space: nowrap;
    display: inline-block;

    &:hover {
        background-color: var(--color-button-hover);
        color: var(--color-button-hover-text);
    }
    &:disabled {
        background-color: var(--color-button-hover);
        color: var(--color-button-hover-text);
        opacity: 0.5;
    }

    &.btn-primary {
        background-color: var(--color-blue-400);
        color: var(--color-white);
        &:hover {
            background-color: var(--color-blue-500);
        }
        &:disabled {
            background-color: var(--color-blue-400);
            opacity: 0.5;
        }
    }

    &.btn-success {
        background-color: var(--color-success);
        color: var(--color-white);
        &:hover {
            background-color: var(--color-success-200);
        }
        &:disabled {
            background-color: var(--color-success);
            opacity: 0.5;
        }
    }

    &.btn-bordered {
        border: 1px solid var(--color-button-border);
        &:disabled {
            background-color: var(--color-white);
            opacity: 0.5;
        }
    }

    &.btn-danger {
        border: 1px solid var(--color-error);
        color: var(--color-error);
        &:hover {
            background-color: var(--color-error);
            color: var(--color-white);
        }
        &:disabled {
            color: var(--color-error);
            background-color: var(--color-white);
            opacity: 0.5;
        }
    }

    &.btn-icon-bordered {
        width: 36px;
        padding: 0px;
        border: 1px solid var(--color-button-border);
        text-align: center;
        span {
            line-height: 34px;
        }
        &:disabled {
            &:disabled {
                background-color: var(--color-white);
                opacity: 0.5;
            }
        }
    }
    &.btn-icon {
        width: 36px;
        padding: 0px;
        text-align: center;
        background-color: var(--color-white);
        border: 1px solid transparent;

        span {
            line-height: 34px;
        }
        &:hover {
            border: 1px solid var(--color-button-border);
        }
        &:disabled {
            border: none;
            opacity: 0.5;
        }
    }

    &.btn-lg {
        height: 45px;
        padding: 0px 40px;
        line-height: 43px;
        border-radius: 5px;
        font-size: $font-size + 3px;
    }

    &.btn-md {
        height: 32px;
        padding: 0px 15px;
        line-height: 30px;
        border-radius: 3px;
        font-size: $font-size;
    }

    &.btn-has-icon {
        display: inline-flex;
        padding-left: 8px;
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 34px;
            &:first-child {
                margin-right: 10px;
            }
        }
        &.btn-lg {
            padding-left: 16px;
            line-height: 43px;

            span {
                display: inline-block;
                vertical-align: middle;
                line-height: 43px;
                &:first-child {
                    font-size: 26px;
                    margin-right: 16px;
                }
            }
        }
        &.btn-md {
            span {
                line-height: 30px;
                &:first-child {
                    margin-right: 5px;
                    font-size: 20px;
                }
            }
        }
    }
    &.btn-wide {
        width: 100%;
    }
}

.btn + .btn {
    margin-left: 20px;
}