* {
    box-sizing: border-box;
    &:focus-visible {
        outline: none;
    }
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--color-white);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--color-silver-400);
        border-radius: 2px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-silver-500);
    }
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font;
    background-color: var(--color-background);
    font-size: $font-size;
    overflow: hidden;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-blue-400);
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-weight: 500;
}

.app-main {
    height: 100%;
    .app-main-holder {
        height: 100%;
        app-menu-main {
            height: 100%;
            max-width: 230px;
            display: block;
        }
        .app-main-content {
            height: 100%;
            app-menu-top {
                height: 50px;
                min-height: 50px;
                display: block;
            }
            app-page-options {
                height: 35px;
                min-height: 35px;
                display: block;
            }
            app-page {
                display: block;
                overflow: hidden;
                flex-grow: 1;
            }
            .app-page-holder {
                height: 100%;
                overflow-y: hidden;
            }
        }
    }
}

.page {
    height: 100%;

    &-content-holder {
        height: 100%;
        overflow-y: hidden;
    }
    &-content {
        height: 100%;
        overflow-y: auto;
        padding: 25px;
        position: relative;
        .app-page-card {
            padding: 30px;
            width: 100%;
            height: auto;
            min-height: 100%;
            background-color: var(--color-white);
            border: 1px solid var(--color-silver-300);
            border-radius: 3px;
            &.transparent {
                background-color: transparent;
                border: none;
            }
            &.no-padding {
                padding: 0px;
            }
            &__header {
                padding: 10px;
                border-bottom: 1px solid var(--color-silver-300);
                h4 {
                    margin: 0px;
                    color: var(--color-dark-100);
                }
            }
            &__content {
                padding: 10px;
            }
        }
        .app-page-loader {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    &.table-layout {
        .page-content {
            overflow-y: hidden;
            position: relative;
            box-sizing: border-box;
            display: flex;
            flex: 1 1 100%;
        }
    }
    &.projects-map-container {
        .page-content {
            padding: 0px;
        }
    }
    .empty-page {
        font-weight: 500;
        margin-top: 30px;
        text-align: center;
    }
}

h1 {
    font-size: $font-size + 13px;
    font-weight: 400;
    margin-bottom: 10px;
}

h2 {
    font-size: $font-size + 9px;;
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
    font-size: $font-size + 5px;
    font-weight: 400;
    margin-bottom: 8px;
}

h4 {
    font-size: $font-size + 3px;
    font-weight: 500;
    margin-bottom: 5px;
}

h5 {
    font-size: $font-size;
    font-weight: 500;
    margin-bottom: 5px;
}

h6 {
    font-size: $font-size - 2px;
    font-weight: 500;
    margin-bottom: 5px;
}

router-outlet + * {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-content-loading {
    filter: blur(2px);
    &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 9999;
    }
}

.app-left-menu-page {
    width: 100%;
    height: 100%;
    &__menu-holder {
        height: 100%;
        width: 100%;
        max-width: 220px;
        background-color: var(--color-white);
        app-menu-top {
            height: auto !important;
            width: 100%;
        }
    }
    &__content-holder {
        height: 100%;
    }
    &__content-actions {
        background-color: var(--color-white);
        height: 50px;
        padding: 0px 20px;
        border-bottom: 1px solid var(--color-silver-300);
    }
}