@import "variables.scss";

.test-button-holder {
    margin-right: 20px;
    margin-bottom: 30px;
    
    .test-button-title {
        font-weight: 500;
        font-size: $font-size - 2px;
        margin-bottom: 13px;
    }
}
