<app-menu-top menu="components"></app-menu-top>
<app-page>
    <div class="app-page-card">
        <h2>Buttons (Active)</h2>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary">Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success">Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Default</p>
                <button class="btn">Cancel</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered">Save changes</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>

        <h2>Buttons (Disabled)</h2>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary" disabled>Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success" disabled>Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Default</p>
                <button class="btn" disabled>Cancel</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered" disabled>Save changes</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger" disabled>Delete</button>
            </div>
        </div>

        <h2>Buttons medium (Active)</h2>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary btn-md">Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success btn-md">Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Default</p>
                <button class="btn btn-md">Cancel</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered btn-md">Save changes</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger btn-md">Delete</button>
            </div>
        </div>

        <h2>Buttons large (Active)</h2>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary btn-lg">Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success btn-lg">Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Default</p>
                <button class="btn btn-lg">Cancel</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered btn-lg">Save changes</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger btn-lg">Delete</button>
            </div>
        </div>

        <h2>Buttons large (Disabled)</h2>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary btn-lg" disabled>Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success btn-lg" disabled>Submit</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Default</p>
                <button class="btn btn-lg" disabled>Cancel</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered btn-lg" disabled>Save changes</button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger btn-lg" disabled>Delete</button>
            </div>
        </div>

        <h2>Icon buttons (Active)</h2>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Icon</p>
                <button class="btn btn-icon">
                    <span class="material-symbols-outlined">settings</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Icon (Bordered)</p>
                <button class="btn btn-icon-bordered">
                    <span class="material-symbols-outlined">settings</span>
                </button>
            </div>
        </div>

        <h2>Icon buttons (Disabled)</h2>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Icon</p>
                <button class="btn btn-icon" disabled>
                    <span class="material-symbols-outlined">settings</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Icon (Bordered)</p>
                <button class="btn btn-icon-bordered" disabled>
                    <span class="material-symbols-outlined">settings</span>
                </button>
            </div>
        </div>

        <h2>Buttons with icon (Active)</h2>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary btn-has-icon">
                    <span class="material-symbols-outlined">done</span>
                    <span>Submit</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success btn-has-icon">
                    <span class="material-symbols-outlined">done</span>
                    <span>Submit</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Default</p>
                <button class="btn btn-has-icon">
                    <span class="material-symbols-outlined">done</span>
                    <span>Submit</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered btn-has-icon">
                    <span class="material-symbols-outlined">save</span>
                    <span>Save changes</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger btn-has-icon">
                    <span class="material-symbols-outlined">delete</span>
                    <span>Delete</span>
                </button>
            </div>
        </div>

        <h2>Buttons with icon (Disabled)</h2>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="test-button-holder">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary btn-has-icon" disabled>
                    <span class="material-symbols-outlined">done</span>
                    <span>Submit</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success btn-has-icon" disabled>
                    <span class="material-symbols-outlined">done</span>
                    <span>Submit</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Default</p>
                <button class="btn btn-has-icon" disabled>
                    <span class="material-symbols-outlined">done</span>
                    <span>Submit</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered btn-has-icon" disabled>
                    <span class="material-symbols-outlined">save</span>
                    <span>Save changes</span>
                </button>
            </div>
            <div class="test-button-holder">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger btn-has-icon" disabled>
                    <span class="material-symbols-outlined">delete</span>
                    <span>Delete</span>
                </button>
            </div>
        </div>

        <h2>Wide buttons</h2>

        <div fxLayout="column" fxFlex="50" style="border: 1px solid var(--color-silver-300); padding: 20px;">
            <div class="test-button-holder" style="margin-right: 0px;">
                <p class="test-button-title">Primary</p>
                <button class="btn btn-primary btn-wide">Submit</button>
            </div>
            <div class="test-button-holder" style="margin-right: 0px;">
                <p class="test-button-title">Success</p>
                <button class="btn btn-success btn-wide">Submit</button>
            </div>
            <div class="test-button-holder" style="margin-right: 0px;">
                <p class="test-button-title">Bordered</p>
                <button class="btn btn-bordered btn-wide">Save changes</button>
            </div>
            <div class="test-button-holder" style="margin-right: 0px;">
                <p class="test-button-title">Danger</p>
                <button class="btn btn-danger btn-wide">Delete</button>
            </div>
        </div>

    </div>
</app-page>