@import "variables.scss";

.app-menu-top {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-silver-300);
    padding: 0px 15px;
    .app-menu-top-holder {
        height: 100%;
        .current-page {
            margin-right: 30px;
            &-icon {
                margin-right: 5px;
                color: var(--color-dark-1000);
            }
            &-title {
                color: var(--color-black);
                font-size: $font-size + 3px;
                font-weight: 500;
            }
        }
        .menu-holder {
            height: 100%;
            .menu-item {
                height: 100%;
                position: relative;
                cursor: pointer;

                &-title {
                    height: 20px;
                    line-height: 20px;
                    display: block;
                    color: var(--color-dark-100);
                    padding: 0px 20px;
                    border-left: 1px solid var(--color-silver-300);
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: 20px;
                    right: 20px;
                    height: 3px;
                    border-radius: 3px 3px 0px 0px;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
                &:last-child {
                    .menu-item-title {
                        border-right: 1px solid var(--color-silver-300);
                    }
                }
                &.active {
                    .menu-item-title {
                        text-shadow: 0.25px 0px 0.1px var(--color-blue-400), -0.25px 0px 0.1px var(--color-blue-400);
                        color: var(--color-blue-400) !important;
                    }
                    &::after {
                        visibility: visible;
                        background-color: var(--color-blue-400) !important;

                    }
                }
                &:hover {
                    .menu-item-title {
                        color: var(--color-dark-500);
                    }
                    &::after {
                        visibility: visible;
                        background-color: var(--color-silver-300);
                    }
                }
            }
        }
    }
}

.menu-top-holder {
    height: 100%;
    &.app-left-menu {
        .app-menu-top {
            padding: 0px;
            .app-menu-top-holder {
                flex-direction: column;
                place-content: start;
                align-items: start;
                .current-page {
                    height: 50px;
                    border-bottom: 1px solid var(--color-silver-300);
                    margin-right: 0px;
                    width: 100%;
                    padding: 0px 15px;
                }
                .menu-holder {
                    flex-direction: column;
                    place-content: start;
                    align-items: start;
                    height: 100%;
                    width: 100%;
                    border-right: 1px solid var(--color-silver-300);
                    padding-bottom: 50px;
                    overflow-y: auto;
                    .menu-item {
                        width: 100%;
                        min-height: 35px;
                        height: unset;
                        place-content: start;
                        align-items: center;
                        border-bottom: 1px solid var(--color-silver-300);
                        padding: 5px 0px;

                        .menu-item-title {
                            width: 100%;
                            padding: 0px 12px;
                            min-height: 20px;
                            height: unset;
                        }
                        &::after {
                            bottom: 0px;
                            left: unset;
                            top: 0px;
                            width: 3px;
                            height: unset;
                            right: 0;
                            border-radius: 0px;

                        }
                        &:last-child {
                            .menu-item-title {
                                border-right: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}