@import "variables.scss";
.g-button {
    width: 100%;
    height: 45px;
    border: 1px solid var(--color-button-border);
    border-radius: 5px;
    background-color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
    .btn-content {
        position: relative;
    }
    .btn-text {
        color: var(--color-auth-text);
        font-size: $font-size + 3px;
    }
    .btn-logo {
        margin-left: -34px;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        background-image: url(/assets/icons/google-button/google-signin-logo.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover  {
        background-color: var(--color-button-hover);
    }
}
