.app-form-radio {
    .container {
        display: block;
        position: relative;
        padding-left: 32px;
        margin-bottom: 12px;
        cursor: pointer;
        user-select: none;
        color: var(--color-input-label);
        width: fit-content;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid var(--color-checkbox-border);
            transition: border-color 0.2s ease-in-out;
            &::after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        
        &:hover {
            .checkmark {
                border-color: var(--color-blue-400)
            }
        }

    }

    .container input:checked ~ .checkmark:after {
        display: block;
    }

    .container .checkmark:after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--color-blue-400);
        top: 50%;
        left: 50%;
        margin-left: -6px;
        margin-top: -6px;
    }

    &.horizontal {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        .container {
            margin-right: 12px;
        }
    }
    &.disabled {
        .container {
            color: var(--color-disabled);
            .checkmark {
                border: 1px solid var(--color-disabled);
                &::after {
                    background: var(--color-disabled);
                }
            }
        }
    } 
}