<div class="app-modal forbidden-access-modal" fxLayout="column">
    <div class="app-modal__content">
        <div class="app-error-page-block">
            <h1>403</h1>
            <h2>Forbidden</h2>
            <p>Access to this resource is denied!</p>
        </div>
    </div>
    <div class="app-modal__footer">
        <div class="buttons-holder" fxLayout="row" fxLayoutAlign="center center">
            <button
                class="btn btn-primary"
                (click)="close()"
            >
                Zatvori
            </button>
        </div>
    </div>
</div>
