@import "variables.scss";
.search-field {
    width: 100%;
    height: 100%;
    &__icon {
        font-size: $font-size + 5px;
        font-weight: 600;
    }
    &__holder {
        position: relative;
        height: 100%;
        &__close-icon {
            display: flex;
            align-items: center;
            position: absolute;
            height: 100%;
            font-size: 18px;
            right: 0px;
            top: 0px;
            cursor: pointer;
            &:hover {
                font-weight: 600;
            }
        }
        &__input {
            border: none;
            padding: 0px 19px 0px 5px;
            font-size: $font-size - 1px;
            color: var(--color-dark-500);
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--color-silver-800);
                opacity: 1;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--color-silver-800);
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: var(--color-silver-800);
            }
        }
    }
    // input {
    //     box-sizing: border-box;
    //     width: 100%;
    //     height: 36px;
    //     border: 1px solid #ddd;
    //     border-radius: 5px;
    //     background-color: #fff;
    //     line-height: 36px;
    //     padding: 0 10px;
    //     &:focus {
    //         // border-color: $color-primary;
    //         outline: none;
    //     }
    //     // font-family: Roboto, "Helvetica Neue", sans-serif;
    //     font-size: 14px;
    // }
    // mat-icon {
    //     position: absolute;
    //     font-size: 18px;
    //     right: 2px;
    //     top: 7px;
    //     opacity: 0.6;
    //     &:hover {
    //         cursor: pointer;
    //         opacity: 0.8;
    //     }
    // }

}