@import "variables.scss";

.app-form-textarea {
    label, textarea {
        display: block;
    }
    label {
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 3px;
        width: fit-content;
        span {
            &.required {
                &::after {
                    content: '*';
                    color: var(--color-input-invalid);
                }
            }
        }
    }
    textarea {
        border: 1px solid var(--color-input-border);
        border-radius: 3px;
        min-height: 34px;
        margin: 0px;
        line-height: 16px;
        padding: 6px 10px 9px;
        width: 100%;
        color: var(--color-input-label);
        font-family: $font;
        font-size: $font-size;
        resize: none;
        overflow-y:scroll;
        &::placeholder {
            color: rgba(var(--color-input-label--rgb), 0.65);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: rgba(var(--color-input-label--rgb), 0.65);
        }

        &::-ms-input-placeholder {
            color: rgba(var(--color-input-label--rgb), 0.65);
        }
        &:focus {
            border-color: var(--color-blue-400);
        }
        &.hasError {
            color: var(--color-input-invalid);
            border-color: var(--color-input-invalid);
        }
        &:disabled {
            background-color: var(--color-input-disabled);
        }
    }
}