.app-form-switch-button {
    user-select: none;
    .cb-toggle {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .toggle {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 20px;
        background-color: var(--color-silver-400);
        border-radius: 10px;
        cursor: pointer;
        transition: all .1s ease-in;
        span {
            position: absolute;
            z-index: 1;
            top: 2px;
            right: 7px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            color: rgba(var(--color-warning--rgb), .7);
            transition: all .1s ease-in;
        }
    }
    .toggle::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 14px;
        height: 14px;
        background-color: var(--color-white);
        border-radius: 50%;
        transition: all .1s ease-out;
    }
    .cb-toggle:checked + .toggle {
        background-color: rgba(var(--color-blue-400--rgb), .8);
        &::after {
            background-color: var(--color-white);
        }
    }
    .cb-toggle:checked + .toggle::after {
        transform: translateX(24px);
    }
}
