.color-picker-input {
    &__wrapper {
        position: relative;
        height: 36px;
        margin: 0px;
        .picker-input {
            top: 0px;
            position: absolute;
            visibility: hidden;
        }
    }
    &__preview {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 3px;
        top: 3px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        &.no-value {
            border: 1px solid var(--color-input-invalid);
        }
    }
    &__value {
        .hex-input {
            padding-left: 40px;
        }
    }
}