.col-user-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-dark-300);
}

.col-user-username {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-silver-800);
}

.col-user-company {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-dark-300);
}